* {
    margin: 0;
    padding: 0;
    font-family: "Secular One";
    box-sizing: border-box;
    color: white;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background: #1d1e22;
    padding: 10px;
  }
  
  .app {
    width: 100%;
    max-width: 540px;
    background: #25262b;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  }
  
  .app h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .task {
    padding: 10px;
    border-bottom: 1px solid #bfbfbf;
  }
  
  .task-text {
    padding-left: 15px;
    background: #25262b;
    border: none;
    outline: none;
    font-size: 18px;
  }
  
  .task-complete:checked + .task-text {
    text-decoration: line-through;
    color: red;
  }
  
  button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #070a0a;
    border-radius: 8px;
  }
  
  button:hover { 
    background-color: #bfbfbf; 
  }
  
  input[type="checkbox"] {
    accent-color: red;
    transform: scale(1.5);
    padding: 10px;
  }
  
  #name { 
    background:#1D1E22;;
    color:#156FE6;
    border: none; 
    padding-left: 10px;
    font-size: 25px;
  }
  
  /* used to format select options */ 
  select {
    background: black;
  }
  
  select option[value="yellow"] { 
    background: #f0d43a;  
  } 
  
  .work { 
    background: #22b2da; 
  }
  
  /* Navigation Menu Styling */ 
  nav { 
    display: flex; 
    width: 90%;
    margin: auto;
    padding: 20px 0px; 
    align-items: center;
    justify-content: space-between; 
    
  }
  
  .navbar { 
    position: relative;
  } 
  nav ul li a { 
    text-decoration: none;
    display:inline-block;
  }
  
  nav ul li { 
    display: inline-block; 
    list-style-type: none;
    margin: 10px 20px; 
    font-size: 20px;
  }
  
  .navbar button{
    background-color: #1D1E22; 
  }
  
  /* Styling for Login Form */
  .use {
    padding: 10px;
  }
  
  .userSignUp input[type="text"],
  .userSignUp input[type="password"] {
    color: black;
  }
  
  .task-date {
    background: black;
    margin-left: 50px;
    margin-top: 5px;
  }
  
  .form { 
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
  }
  
  .form-button {
    padding: 10px;
    color: #ffffff;
    background-color: #156fe6;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-link { 
    position: absolute;
    margin-top: 15px;
    align-items: center;
    font-size: 14px;
    color: #156fe6;
    text-decoration: none;
  
  }
