*{
    margin: 0; 
    padding: 0; 
    font-family:'Secular One';
    box-sizing: border-box;
    color: white;
}

body{ 
    width:100%; 
    min-height: 100vh;
    background: #1D1E22;
    padding:10px; 
}

.app{ 
    width: 100%;
    max-width: 540px;
    background: #25262B; 
    margin: 100px auto 20px; 
    padding: 40px 30px 70px; 
    border-radius: 10px;
}

.app h1 { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    

}
.task { 
    padding: 10px; 
    border-bottom: 1px solid #BFBFBF;
}

.task-text { 
    padding-left: 15px;  
    background:#25262B;
    border: none; 
    outline: none;
    font-size: 18px;
}


.task-complete:checked + .task-text {
    text-decoration: line-through;
    color: red; 
    
}

button {
    border: none; 
    width: 20%; 
    padding: 10px; 
    cursor: pointer;
    background-color: #070A0A; 
    border-radius: 8px;

}

input[type='checkbox'] {
    accent-color: red;
    transform: scale(1.5);
    padding: 10px; 
}

/* Styling for Login Form */ 
.use{ 
    padding: 10px; 
}


input[type=submit] { 
    border: none; 
    width: 20%; 
    padding: 10px; 
    cursor: pointer;
    background-color: #156FE6; 
    border-radius: 8px;
}

.userSignUp input[type=text],.userSignUp input[type=password]{
    color: black;
}
#logout{
    position: absolute;
    right: 10px;
    top: 10px;
}

